# Dependencies
node_modules/

# Next.js build output
/.next
/out

# Production
/build

# Environment variables – do NOT commit real secrets
.env.local
.env.*.local

# Debug logs
npm-debug.*
yarn-debug.*
yarn-error.*

# Misc
.DS_Store
*.pem

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# generated native folders
/mobile/ios
/mobile/android

# TypeScript
*.tsbuildinfo
